* {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.hero {
    background-color: #1F2937;
    border: 1px solid #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
}

.list-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.logo {
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    text-decoration: none;

}

.list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

.list li a {
    text-decoration: none;
    color: white;
}

.sub-header {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1100px;
    gap: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.description p {
    font-size: 18px;
    color: #E5E7EB
}

.description button {
    padding: 7px;
    background-color: rgba(31, 83, 179, 0.938);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.header-img {
    height: 194px;
    width: 400px;
}

.main-section {
    height: 400px;
    align-items: center;
}

.main-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding-top: 25px;
}

.boxes {
    display: flex;
    gap: 50px;
    margin-top: 40px;
    justify-content: center;

}

.box-item {
    width: 150px;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid rgb(67, 137, 243);
    border-radius: 10px;
}

.quote-holder {
    width: 100%;
    background-color: #E5E7EB;
    height: 350px;
    border: 1px solid white;
}
.quote-holder blockquote{
    width: 50%;
    margin: 40px auto;
    
}
.quote-holder p{
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}
.quote-holder cite{
    font-weight: bolder;   
}
.last-section{
    width: 100%;
    height: 300px;
    border: 1px solid white;
}
.sign-up{
    width: 60%;
    max-width: 1000px;
    background-color: #3882f6;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    height: 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    color: white;
    gap: 10px;
}
.sign-up button{
    border: 2px solid white;
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;

}
footer{
    background-color: #1F2937;
    width: 100%;
    height: 100px;
    color: white;
    border: 1px solid #1F2937;
    text-align: center;
}
footer p{
    margin: 40px;
}